.content {
    align-items: center;
}

.leftcontent {
    width: 350px;
}

#form1
{
    background-color:white;
    box-shadow:0px 0px 10px 0px #D8D8D8;
}
#form1 p
{
    color:#405e80;
    font-weight:bold;
}
#form1 #login_label
{
    color:#405e80;
    padding:20px;
    font-size:25px;
    border-bottom:1px solid #E6E6E6;
    font-weight:bold;
}
#form1 input[type="text"],input[type="password"]
{
    width:300px;
    height:40px;
    padding-left:10px;
    margin-top:10px;
    border:1px solid #D8D8D8;
}
#form1 input[type="submit"]
{
    margin-top:10px;
    margin-bottom: 10px;
    width:300px;
    height:40px;
    background-color:#405e80;
    border:none;
    color:white;
    box-shadow:0px 3px 0px 0px #405e80;
    border-radius:3px;
    font-weight:bold;
}

#message {
    margin-bottom: 10px;
}